certifi==2024.12.14
charset-normalizer==3.4.0
colorama==0.4.6
filelock==3.16.1
fire==0.7.0
fsspec==2024.10.0
fugashi==1.4.0
huggingface-hub==0.27.0
idna==3.10
jaconv==0.4.0
Jinja2==3.1.4
loguru==0.7.3
manga-ocr==0.1.13
MarkupSafe==3.0.2
mokuro==0.2.1
mpmath==1.3.0
natsort==8.4.0
networkx==3.4.2
numpy==1.26.4
opencv-python==4.10.0.84
packaging==24.2
pillow==11.0.0
pyclipper==1.3.0.post6
pyperclip==1.9.0
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
safetensors==0.4.5
scipy==1.14.1
setuptools==75.6.0
shapely==2.0.6
sympy==1.13.1
termcolor==2.5.0
tokenizers==0.21.0
torch==2.5.1
torchsummary==1.5.1
torchvision==0.20.1
tqdm==4.67.1
transformers==4.47.1
typing_extensions==4.12.2
unidic-lite==1.0.8
urllib3==2.2.3
win32_setctime==1.2.0
yattag==1.16.1
